.form{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#format-uang,select,input{
  border: 1px solid black !important;
}

#format-uang{
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}