input[type="number"] {
  -moz-appearance: textfield; 
  -webkit-appearance: none; 
  appearance: none;          /* Standar */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section{
  /* border: 1px solid black; */
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

sub-section{
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.input-upload{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

input,select{
  padding: 10px;
  margin: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid black;

}

label{
  margin-bottom: 2px;
}

option{
  padding: 1px;
}

/* .titipan{
  width: 80%;
} */
div{
  width: 100%;
}

.upload_file{
  width: 80%;
}