body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  text-align: center;
}

.drop-area {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
  height: 200px;
  margin: 20px auto;
  background-color: #fff;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-area.hover {
  background-color: #e9ecef;
}

.file-label {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.preview {
  margin-top: 10px;
  text-align: left;
  background-color: #fff;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: auto;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}