* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-link {
    background-color: #386641;
    width: 30%;
    padding: 50px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.8rem;
}

.logo img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.login-form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-big-heading {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
}

.registerbtn {
    /* background-color: white; */
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.registerbtn:hover {
    background-color: #f0f0f0;
    color: #386641;
}

.big-heading {
    color: #386641;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.text-fields label {
    font-size: 0.9rem;
}

.text-fields input {
    width: 100%;
    padding: 10px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    outline: none;
    background: #f9f9f9;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.pagination-btns {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.pagination-btns button {
    padding: 12px 20px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #6a994e;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-btns button:hover{
    background-color: #386641;
    color: white;
}

.toggle-password {
    display: flex;
    position: absolute;
    top: 33%;
    right: 11px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.forgot-password{
    text-decoration: none;
    color: red;
    display: flex;
    justify-content: end;
    padding-top: 10px;
    font-style: italic;
}
