* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.stage1-content {
    /* width: 100%; */
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-link {
    background-color: #386641;
    width: 30%;
    padding: 50px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.signup-form-container {
    width: 70%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.gender-selection {
    margin-bottom: 10px;
}

.gender-selection label {
    margin-right: 10px;
    /* display: flex;   
    flex-direction: column; */
}

.gender-selection .field-heading {
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.8rem;
}

.logo img {
    width: 100%;

    border-radius: 50%;
    object-fit: cover;
}

.side-big-heading {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
}

a.loginbtn {
    /* background-color: white; */
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

a.loginbtn:hover {
    background-color: #f0f0f0;
    color: #386641;
}

.big-heading {
    color: #386641;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.progress-bar {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
    color: black;
}

.stage {
    text-align: center;
}

.stage .tool-tip {
    font-size: 0.9rem;
    color: #84848d;
    margin-left: -20px;
    margin-bottom: 10px;
}

.stageno {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2e8cf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #386641;
    font-weight: 600;
    font-size: 1rem;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #84848d;
}

.text-fields label {
    font-size: 0.9rem;
}

.text-fields input {
    width: 100%;
    padding: 10px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    outline: none;
    background: #f9f9f9;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.bentuk_upt,
.wilayah_upt,
.id_lk,
.id_spesies {
    display: none;
}

.text-fields .option-input {
    width: 100%;
    padding: 10px 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    outline: none;
    background: #f9f9f9;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.text-fields input:focus {
    border-color: #386641;
}

.gender-selection input {
    margin-bottom: 10px;
}
.field-heading {
    margin-bottom: 5px;
}

.pagination-btns {
    display: flex;
    gap: 15px;
}

.pagination-btns input {
    padding: 12px 20px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nextPage {
    background-color: #6a994e;
}

.previousPage {
    background-color: #84848d;
}

.nextPage:hover {
    background-color: #386641;
}

.previousPage:hover {
    background-color: #5a5a5a;
}

.input-wrapper {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 35%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: end;
}

.toggle-password img {
    width: 4%;
    height: auto;
}

.toggle-password img {
    width: 4%;
    height: auto;
}